@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Handjet:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
.homepageBanner{
  background-image: url(./../public/img/banner1.jpg);
  background-size: cover;
  background-position: center;
}
.aboutBanner{
  background-image: url(./../public/img/banner2.jpg);
  background-size: cover;
  background-position: center;
}
.teamBanner{
  background-image: url(./../public/img/banner3.jpg);
  background-size: cover;
  background-position: center;
}
.aboutHeader{
  font-family: 'Handjet', cursive;
  font-weight: 500;
}
.contactHeader{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}